<!doctype html>
<html>
  <head>
    <title>Wiki Proxy</title>    
  </head>
  <script>
'use strict';
function requestArticle (article, callback) {
      function reqListener () {
        callback(null, this.responseText);//  this si riferisce a oReq
      }

      var oReq = new XMLHttpRequest();
      oReq.onload = reqListener;//  una volta che il risultato è caricato chiamo reqListener
      // oReq.responseType = 'json';
      oReq.open('get', '/search?q=' + article, true);
      oReq.send();
    }

window.getArticle = function () {
      var
        searchArticle = document.querySelector('.search-article'),
        articleBody = document.querySelector('.article-body'),
        articleName = document.querySelector('.article-name'),
        responseTime = document.querySelector('.resp-time');

      console.log(searchArticle.value);

      requestArticle(searchArticle.value, function (err, data) {
        data = JSON.parse(data);

        articleName.textContent = data.articleTitle;
        articleBody.innerHTML = data.message;
        responseTime.innerHTML = data.time;
        searchArticle.value = '';
        // inserisci nel body
      });
    };
function getResponseTime () {

}

  </script>

  <body>
  <h2>
    Richiedi nuovo articolo:
    <input type="text" class="search-article" onchange="getArticle()">
  </h2>
  <h1>Wikipedia Article: <b><span class="article-name">{{ title }}</span></b></h1>
  <b>Page served in(ms):</b>
  <span class="resp-time">
  {% block time %}
  {% endblock %}
  </span>

  
  <div class="article-body">
    {% block body %}
    {% endblock %}
  </div>
  </body>
</html>